<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Archeology</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/"><span style="color: white" class="fa fa-home"> Home</span></a></li>
            <li><a href="map"><span style="color: white" class="fa fa-map"> Map</span></a></li>
            <li><a href="api/places"><span style="color: white" class="fa fa-map-signs"> Places</span></a></li>
        </ul>
    </div>
</nav>